<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>New User</h2>
    <form method="POST" action="/new-user" enctype="multipart/form-data"> <! -- se debe agregar enctype para trabajar con multer --> 
        <div>
            <label for="">Name</label>
            <input type="text" name="name" id="">
        </div>
        <div>
            <label for="">Age</label>
            <input type="text" name="age" id="">
        </div>
        <div>
            <label for="">Avatar</label>
            <input type="file" name="img" id="">
        </div>
        <button type="submit" >Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>