<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Lis of Users</title>
</head>
<body>
    <h2>List of users</h2>
    <ul>
        <% for(let i=0; i< allUsers.length; i++) {%>
            <li>
                <article class="card">
                    <img src="<%= allUsers[i].img %>" alt="">
                    <p>
                        <a href="/user/<%= allUsers[i].id %>">
                            Name: <%= allUsers[i].name %>
                        </a>
                    </p>
                </article>
            </li>
        <%}%>
    </ul>
</body>
</html>